.root{
    --fonte: 
}
.topo{
    background-color: blue;
    text-align: center;
    height: 70px;
    padding-top: 0px;
}
.titulo{
    color:white;
    --var:var(--fonte);
    font-size: 60px;
    font-weight: 400;
}
.inicio{
    text-align: center;
}
.subtitulo{
    color: black;
    --var:var(--fonte);
    font-size: 30px;
    font-weight: 300;
}
.feiras{
    text-align: center;
    color: black;
    --var:var(--fonte);
    font-size: 20px;
    font-weight: 200;
}
